body {
    background: url('../recursos/ubuntu.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height:100%;
  }

  .container{
      height: 60px;
  }

  .left {
      position: fixed;
      top: 0px; 
      left: 10px;
  }  
  h2 {
      margin:0;
      padding:10px 0;
      font-size:24px;
      text-align:center;
      background:#eff4f7;
      border-bottom:1px solid #dde0e7;
      box-shadow:0 -1px 0 #fff inset;
      border-radius:5px 5px 0 0; /* otherwise we get some uncut corners with container div */
      text-shadow:1px 1px 0 #fff;
  }